fvcore
imutils
zerorpc
dill>=0.3.1.1
Flask==1.0.3
future>=0.17.1
gevent>=1.4.0
imageio>=2.4.1
redis>=3.3.8
filterpy>=1.4.5
redisAI
ml2rt
pytest
prometheus-client
scikit-image
jsonschema
requests
Pillow==6.2.1
scipy
cython
pycocotools
posix-ipc
